* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: black;
}

section {
    border: 1px solid black;
    background-color: teal;
    margin: 10px;
}

section>h2 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: italic;
    height: 45px;
    padding-top: 10px;
}

section.uno>h2 {
    background-color: #1395db;
}

section.dos>h2 {
    background-color: #6582bd;
}

section.tres>h2 {
    color: #e28f8f;
    background-color: #49108a;
}

section>p {
    padding: 45px 20px 20px 20px;
}

.row {
    width: 100%;
}

/* Desktop*/

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;

    }
}


/* Tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;

    } 
}

/* Mobile */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;

    }
}